@import url("https://fonts.googleapis.com/css?family=Kantumruy:700&display=swap&text=0123456789");
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&display=swap');

@font-face {
	font-family: Makinas;
	src: url("font/Makinas-4-Square.otf") format("opentype");
}

::selection {
	background-color: rgba(0, 190, 240, 0.5);
	color: #000000;
}

footer::selection {
	color: #FFFFFF;
}

body {
	margin: 0;
	background-color: #F5F5F5;
	font-family: Kantumruy, "Lexend Deca", Meiryo, sans-serif;
	color: #000000;
}

header {
	height: 10vh;
	width: 100vw;
	background-color: #FFFFFF;
}

header a {
	text-decoration: none;
	color: #000000;
}

header h1 {
	margin: 0;
	float: left;
	font-family: Makinas, Meiryo, sans-serif;
	color: #000000;
}

header ul {
	margin: 0;
	float: right;
}

header ul li {
	list-style: none;
	float: left;
	font-size: 20px;
	font-family: Kantumruy, "Lexend Deca", "M PLUS Rounded 1c", Meiryo, sans-serif;
}

footer {
	height: 10vh;
	width: 100vw;
	background-color: #000080;
	color: #FFFFFF;
}

small {
	font-size: 18px;
}

.content {
	height: 80vh;
	width: 100vw;
}