@font-face {
  font-family: "Makinas";
  src: url("font/Makinas-4-Square.otf") format("opentype");
}

header {
	text-align: right;
	background-color: #F0F0F0;
}

header p a {
	position: absolute;
	left: 20px;
	top: 20px;
	text-decoration: none;
}

nav ul li {
	display: inline-block;
	margin-right: 25px;
}

nav ul li a{
	text-decoration: none;
}

#oldnav {
	list-style: none;
	overflow: hidden;
	background-color: #F0F0F0;
	width: 100%;
}

#oldnav li {
	width: 256px;
	text-align: center;
	background-color: #F0F0F0;
	float: left;
}

#oldnav li a {
	text-decoration: none;
	color: #000000;
	font-family: "Makinas";
	font-weight: bold;
}

.first_shadow {
	text-shadow: 1px 0px 1px #000000;
}

.first_button {
	display: inline-block;
	padding: 7px 20px;
	border-radius: 25px;
	text-decoration: none;
	background: #FFFFFF;
}
